html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    padding: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

input, button, select {
    font-family: Arial, sans-serif;
    font-size: 100%;
}

body > header {
    padding: 1em;
    clear: both;
    text-align: center;
}

body > header > h1 {
    margin: 0;
}

body > section {
    margin: 0.5em 0;
    padding: 1em;
    overflow: hidden;
}

body > footer {
    padding: 0.5em;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

body > footer > p {
    margin: 0;
}

.product-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.product-summary > img {
    float: left;
    padding-right: 1em;
}

.shoppingcart-table {
    width: 100%;
}

.shoppingcart-header {
    padding: 0.25em;
    text-align: left;
    font-weight: bold;
}

.shoppingcart-col-name {
    padding: 0.25em;
    text-align: left;
}

.shoppingcart-col-price, .shoppingcart-col-quantity, .shoppingcart-col-amount {
    padding: 0.25em;
    text-align: right;
}

.shoppingcart-footer {
    padding: 0.25em;
    font-weight: bold;
    text-align: right;
}

ul.validation-messages {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

ul.validation-messages li {
    margin: 0.5em 0;
    padding: 0;
}

.form-grid {
    width: 100%;
}

.form-column-label {
    white-space: nowrap;
    padding-right: 1em;
    font-size: 120%;
}

.form-column-input {
    width: 100%;
    font-size: 120%;
}

.text-label {
    white-space: nowrap;
    float: left;
    padding-right: 1em;
    font-size: 120%;
    padding-top: 0.25em;
    padding-bottom: 0.25em; 
}


.button-right {
    margin-top: 1em;
    float: right;
    clear: both;
}

.float-right {
    float: right;
    clear: both;
}
